@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-5">The new .Net 10</h1>
    <p>A simple sample written by N.Booth 2025 using a preview version of Visual Studio 2026.</p>
</div>
